<footer class="footer">
  <div class="container footer-icons">
    <a href="mailto:rickycastro2023@gmail.com" aria-label="Email">
      <i class="fa-solid fa-envelope"></i>
    </a>

    <a href="https://www.linkedin.com/in/ricky-castro/" target="_blank" rel="noopener" aria-label="LinkedIn">
      <i class="fa-brands fa-linkedin"></i>
    </a>

    <a href="https://github.com/ricardocastr0" target="_blank" rel="noopener" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>
</footer>
