<header class="nav">
  <div class="container">
    <a class="brand" href="index.html">Ricardo Castro</a>
    <nav class="links">
    <a href="/index.html" data-page="home">Home</a>
    <a href="/pages/projects.html" data-page="projects">Projects</a>
    <a href="/pages/experience.html" data-page="experience">Experience</a>
    <a href="/pages/about.html" data-page="about">About</a>
    <a href="/pages/resume.html" data-page="resume">Resume</a>
    <a href="/pages/contact.html" data-page="contact">Contact</a>
    </nav>
  </div>
</header>
